.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
    background-color: #009688;
}

.firebaseui-form-actions .mdl-button--primary.firebaseui-button {
    color: #009688;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    background-color: #009688 !important;
}

#firebaseui_container * {
    font-family: "Poppins", "sans-serif"
}

#firebaseui_container h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", "sans-serif";
    font-weight: 600;
}