@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
    text-shadow: 0 0 8px #4e4e4e;
}

/* Scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    @apply bg-gray-200
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @apply bg-gray-200
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    @apply bg-primary
}

.text-shadow {
    text-shadow: 1px 1px 4px #000000;
}
